In [16]:
import pandas as pd
pd.options.display.float_format = "{:,.6f}".format

In [2]:
df1 = pd.read_csv("data/amostras.txt",sep=" ",header=None,names=["X", "T"])
df2 = pd.read_csv("data/amostras_2T.txt",sep=" ",header=None,names=["X", "T1", "T2"])

Entropia:

$$
H(X) = - \sum_{x \in X} p(x) \log p(x)
$$

In [17]:
df1.groupby(["X", "T"]).count()/len(df1)

                       count
X         T
-2.000000 -1.000000 0.134000
          0.000000  0.057000
          1.000000  0.034000
-1.000000 -1.000000 0.092000
          0.000000  0.157000
          1.000000  0.136000
1.500000  -1.000000 0.102000
          0.000000  0.147000
          1.000000  0.141000

In [8]:
390/(390 + 385 + 225)

0.39